.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  min-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.nav {
  list-style: none;
}
.nav li {
  display: inline-block;
  font-size: 16px;
  line-height: 120px;
  font-weight: bold;
  padding: 0 10px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}
.nav li a {
  text-decoration: none;
  color: gray;
}
.nav li:hover {
  border-bottom: 4px solid #3957fd;
}
.nav li:hover a {
  color: #3957fd;
}

.jumbo-bg {
  position: relative;
  background-image: url(/images/jumbotron.jpg?9b3ac9ec673a8ec0c2c6eef1f6ea6bb4);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
.jumbo-bg .series {
  position: absolute;
  bottom: -26px;
  left: 190px;
  background-color: #3957fd;
  padding: 10px;
}
.jumbo-bg .series h2 {
  color: white;
}

.main-bg {
  background-color: #222222;
}
.main-bg .card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 34px 0;
  margin: 0 auto;
}

.gp-card {
  flex-basis: 15%;
  padding: 8px;
}
.gp-card img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.gp-card h5 {
  padding-top: 6px;
  color: white;
}

.background {
  background-color: #3957fd;
  height: 160px;
}
.background .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: white;
  font-size: 14px;
}
.background .flex .img-section {
  width: 40px;
  height: 100%;
  margin: 0 20px;
}

.upper {
  background-image: url(/images/footer-bg.jpg?30a5c2238c63921788be216d1794abf7);
}
.upper .list {
  display: flex;
  background-image: url(/images/dc-logo-bg.png?571b04c07ce56ce40d7896d4da7b2bc0);
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
}
.upper .list .wrapper {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}
.upper .list .wrapper .list-links {
  padding-top: 30px;
  margin-right: 50px;
  margin-bottom: 30px;
}
.upper .list .wrapper .list-links h2 {
  color: white;
  padding-bottom: 10px;
  font-weight: bold;
}
.upper .list .wrapper .list-links ul {
  list-style: none;
}
.upper .list .wrapper .list-links ul li a {
  text-decoration: none;
  color: lightgray;
}
.upper .list .wrapper .list-links ul li a:hover {
  color: #3957fd;
}
.upper .list .wrapper .list-links .last-list {
  padding-top: 20px;
}

.bottom {
  height: 120px;
  background-color: #333333;
}
.bottom .flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom .flex button {
  background-color: #333333;
  padding: 16px;
  border: 3px solid #3957fd;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.bottom .flex button:hover {
  background-color: #3957fd;
}
.bottom .flex .flex-2 {
  display: flex;
  align-items: center;
}
.bottom .flex .flex-2 h3 {
  display: inline-block;
  margin-right: 20px;
  color: #3957fd;
}
.bottom .flex .flex-2 img {
  width: 64px;
  padding: 0 8px;
}

